<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}webdokwadratu.pl{% endblock %}</title>
        
        <meta name="Description" content="ludzie polskiego internetu" /> 
        <meta name="Keywords" content="internet, ludzie" /> 
        <meta http-equiv="Content-Language" content="pl" />
        <meta http-equiv="Reply-To" content="chilid@chilid.pl" />
        <meta name="Author" content="Chilid.pl" />

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets '../app/Resources/public/css/*'
            output="css/style.css"
        %}
            <link href="{{ asset_url }}" media="screen, projection" rel="stylesheet"  type="text/css"/>
        {% endstylesheets %}

        {% javascripts 
            '../app/Resources/public/js/jquery-1.8.2.min.js'
            '../app/Resources/public/js/*'
            output="js/minified.js"
        %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2289163-29']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    
    <body>
        <div id="wrapper"> 
            <div id="box404"> 
                <img src="/images/bg500x1.png" alt=""/> 
                <img src="/images/bg404x2.png" alt=""/> 
            </div>
    
      
            <div id="footer">
                {% include 'MainBundle:Default:footer.html.twig' %}
                <a class="link-back" href="javascript: history.go(-1)">{{ 'back' | trans }}</a>
            </div>
          
            <div id="box-fb-outer">
                <a id="box-fb" class="fb-hide" title="" href="http://www.facebook.com/webdokwadratu"></a>
            </div>
        </div>
    </body> 
</html>
