[parameters]
    database_driver   = pdo_mysql
    database_host     = localhost
    database_port     =
    database_name     = test_project
    database_user     = root
    database_password = password

    mailer_transport  = smtp
    mailer_host       = localhost
    mailer_user       =
    mailer_password   =

    locale            = en

    secret            = b51aee1623a5371025daaff9388110dec10
