{% extends '::base.html.twig' %}
{% set menu_news = 'active' %}

{% block content %}
    <div class="content" role="content">
        <h2>{{ 'News' | trans }}</h2>

        <div class="pagination">
            {{ paginator|paginate }}
        </div>

        <div class="news">
            {% for entity in paginator %}
                {% include "NewsBundle:Default:news.html.twig" with {"news": entity} only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}