
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
object, a:focus {
  outline : none;
}
html, body {
	background : #FFFFFF;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
del, ins {
	text-decoration: none;
}
li {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
legend {
	color: #000;
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
input, button, textarea, select {
	*font-size: 100%;
}
.clear {
	clear : both;
	height : 0px;
	margin : 0px;
	padding : 0px;
}
.left {
	float : left;
}
.right {
	float : right;
}
.hide {
	display : none;
}
.bold {
	font-weight : bold;
}
.center {
	text-align : center;
}
.italic {
	font-style : italic;
}
.boxes50x50 {
	margin : 20px 0px;
}
.boxes50x50 .left, .boxes50x50 .right {
	width : 50%;
}
