/* line 17, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../../fonts/myriadpro-semibold.eot");
  src: url("../../fonts/myriadpro-semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/myriadpro-semibold.woff") format("woff"), url("../../fonts/myriadpro-semibold.ttf") format("truetype"), url("../../fonts/myriadpro-semibold.svg#myriadpro-semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 5, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/style.scss */
.media-block {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
/* line 14, ../sass/style.scss */
.media-block .text {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
  position: relative;
}
/* line 21, ../sass/style.scss */
.media-block .media {
  float: left;
}

/* line 26, ../sass/style.scss */
.mobile {
  display: none;
}

/* line 30, ../sass/style.scss */
body {
  min-width: 320px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  color: #696969;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
/* line 39, ../sass/style.scss */
body a {
  text-decoration: none;
  color: #040404;
}
/* line 43, ../sass/style.scss */
body a:hover {
  color: #828282;
}
/* line 48, ../sass/style.scss */
body p {
  line-height: 20px;
  margin: 1em 0;
}
/* line 53, ../sass/style.scss */
body > header {
  margin: 80px 0 50px 0;
}
/* line 56, ../sass/style.scss */
body > header h1 {
  width: 294px;
  height: 54px;
  margin: 0 auto 25px auto;
}
/* line 61, ../sass/style.scss */
body > header h1 a {
  width: 100%;
  height: 100%;
  display: block;
  background: url(/images/web2.png) no-repeat;
  text-indent: -9999px;
}
/* line 71, ../sass/style.scss */
body .container {
  overflow: hidden;
  *zoom: 1;
}
/* line 75, ../sass/style.scss */
body > footer {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  border-top: 1px solid #E1E1E1;
  padding: 40px 0 25px 0;
  text-align: center;
  color: #bfbfbf;
  font-size: 11px;
  line-height: 14px;
}
/* line 85, ../sass/style.scss */
body > footer a {
  color: inherit;
  background: url(/images/bg-list2.png) no-repeat scroll 5px 4px transparent;
  padding: 0 0 0 16px;
}
/* line 90, ../sass/style.scss */
body > footer a:first-child {
  background: none;
  padding: 0;
}
/* line 95, ../sass/style.scss */
body > footer a:hover {
  color: #919191;
}

/* line 102, ../sass/style.scss */
nav.menu {
  text-align: center;
  color: #040404;
  text-transform: uppercase;
  font-family: MyriadPro, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1em;
  font-weight: normal;
}
/* line 108, ../sass/style.scss */
nav.menu li {
  display: inline;
  padding: 3px 8px;
}
/* line 113, ../sass/style.scss */
nav.menu a {
  color: inherit;
}
/* line 116, ../sass/style.scss */
nav.menu a:hover {
  color: #6e6e6e;
}
/* line 120, ../sass/style.scss */
nav.menu a.active {
  color: #828282;
}

/* line 126, ../sass/style.scss */
select.menu {
  width: 90%;
  margin: 0 auto 30px auto;
  display: none;
}

/* line 132, ../sass/style.scss */
.alphabet {
  font-family: MyriadPro, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1em;
  font-weight: normal;
  float: left;
  line-height: 12px;
  text-transform: uppercase;
  margin: 20px 0 30px 0;
}
/* line 140, ../sass/style.scss */
.alphabet a,
.alphabet span {
  margin: 0 4px;
}
/* line 143, ../sass/style.scss */
.alphabet a:first-child,
.alphabet span:first-child {
  margin: 0 4px 0 0;
}
/* line 148, ../sass/style.scss */
.alphabet br {
  display: none;
}

/* line 153, ../sass/style.scss */
.search {
  float: right;
  border: 1px solid #CCC;
}
/* line 157, ../sass/style.scss */
.search input[type="text"] {
  width: 160px;
  height: 30px;
  border: none;
  padding: 0 0 0 10px;
  background: #fff;
}
/* line 165, ../sass/style.scss */
.search input[type="submit"] {
  width: 30px;
  height: 30px;
  padding: 0;
  background: url(/images/bg-search.png) center center no-repeat;
  border: none;
  cursor: pointer;
}

/* line 175, ../sass/style.scss */
.results {
  margin: 5px 0 0 0;
}
/* line 178, ../sass/style.scss */
.results .search {
  margin: 0 0 5px 0;
}

/* line 183, ../sass/style.scss */
.slider {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  margin: 30px 0 0 0;
}
/* line 188, ../sass/style.scss */
.slider h5 {
  font: bold 10px Helvetica, Arial, sans-serif;
  margin: 10px 0 15px 0;
}
/* line 193, ../sass/style.scss */
.slider ul {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  width: 100% !important;
}
/* line 202, ../sass/style.scss */
.slider li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 20%;
  margin: 0 -3px 0 0;
}
/* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.slider li {
  *display: inline;
}
/* line 208, ../sass/style.scss */
.slider img {
  width: 100%;
  height: auto;
  margin: 0 0 -3px 0;
}

/* line 217, ../sass/style.scss */
h2,
h3,
h4 {
  text-transform: uppercase;
  color: #1A181D;
  margin: 0;
}

/* line 223, ../sass/style.scss */
h2 {
  font-family: MyriadPro, Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1em;
  font-weight: normal;
  border-bottom: 1px solid #E1E1E1;
}

/* line 228, ../sass/style.scss */
h3 {
  font-family: MyriadPro, Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 21px;
  font-weight: normal;
}

/* line 232, ../sass/style.scss */
h4 {
  font-family: MyriadPro, Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1em;
  font-weight: normal;
}

/* line 237, ../sass/style.scss */
.content p {
  line-height: 20px;
}

/* line 242, ../sass/style.scss */
.pagination {
  display: none;
}

/* line 246, ../sass/style.scss */
.news {
  display: block;
}
/* line 249, ../sass/style.scss */
.news article {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 20px -3px 20px 0;
  padding: 0 2% 0 0;
  width: 33.33%;
}
/* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.news article {
  *display: inline;
}
/* line 255, ../sass/style.scss */
.news article:last-child {
  margin-bottom: 30px;
  margin-right: 0;
}
/* line 261, ../sass/style.scss */
.news .date {
  font-size: 11px;
  margin: 3px 0 10px 0;
  display: block;
}
/* line 267, ../sass/style.scss */
.news .more {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 0 0 0 12px;
}
/* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.news .more {
  *display: inline;
}
/* line 273, ../sass/style.scss */
.news .more:hover {
  color: #828282;
}

/* line 279, ../sass/style.scss */
.single-news {
  padding: 30px 0;
}
/* line 282, ../sass/style.scss */
.single-news img {
  margin: 0 0 20px 0;
}
/* line 286, ../sass/style.scss */
.single-news .nav {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 10px;
  padding: 0 0 0 12px;
}
/* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.single-news .nav {
  *display: inline;
}
/* line 293, ../sass/style.scss */
.single-news .nav:hover {
  color: #828282;
}
/* line 298, ../sass/style.scss */
.single-news .social {
  margin: 20px 0 0 0;
}
/* line 302, ../sass/style.scss */
.single-news .media {
  width: 48%;
  max-width: 320px;
  padding: 0 2% 0 0;
}

/* line 309, ../sass/style.scss */
.partner {
  padding: 20px 0;
  border-bottom: 1px solid #E1E1E1;
}
/* line 313, ../sass/style.scss */
.partner .media {
  width: 220px;
  height: 220px;
  margin: 0 20px 0 0;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 322, ../sass/style.scss */
.partner .wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 329, ../sass/style.scss */
.partner .text a {
  display: block;
  margin: 0 0 10px 0;
}
/* line 335, ../sass/style.scss */
.partner p {
  margin: 0;
}
/* line 338, ../sass/style.scss */
.partner p:last-child {
  margin: 0;
}
/* line 343, ../sass/style.scss */
.partner:last-child {
  border: 0;
}
/* line 348, ../sass/style.scss */
.partner:hover .media {
  background-position: 0 100%;
}
/* line 353, ../sass/style.scss */
.partner h3 {
  padding: 2px 0 0 0;
}

/* line 358, ../sass/style.scss */
.partners-xsolve {
  background: url("/images/partners-xsolve.png") no-repeat;
}

/* line 359, ../sass/style.scss */
.partners-chilid {
  background: url("/images/partners-chilid.png") no-repeat;
}

/* line 360, ../sass/style.scss */
.partners-wsiz {
  background: url("/images/partners-wsiz.png") no-repeat;
}

/* line 361, ../sass/style.scss */
.partners-speedup {
  background: url("/images/partners-speedup.png") no-repeat;
}

/* line 362, ../sass/style.scss */
.partners-gazeta {
  background: url("/images/partners-gazeta.png") no-repeat;
}

/* line 363, ../sass/style.scss */
.partners-diamonds {
  background: url("/images/partners-diamonds.png") no-repeat;
}

/* line 365, ../sass/style.scss */
.author {
  padding: 20px 0;
  border-bottom: 1px solid #E1E1E1;
}
/* line 369, ../sass/style.scss */
.author > .media {
  width: 220px;
  height: 220px;
  margin: 0 20px 0 0;
  background: #E9E9E9;
}
/* line 375, ../sass/style.scss */
.author > .media p {
  font-family: MyriadPro, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 220px;
  font-weight: normal;
  color: #000;
  text-align: center;
}
/* line 382, ../sass/style.scss */
.author p {
  margin: 0;
}
/* line 386, ../sass/style.scss */
.author .contact {
  float: right;
  width: 220px;
  margin-left: 20px;
}
/* line 392, ../sass/style.scss */
.author:last-child {
  border: 0;
}
/* line 396, ../sass/style.scss */
.author .socials {
  overflow: hidden;
  *zoom: 1;
  margin: 5px 0;
}
/* line 400, ../sass/style.scss */
.author .socials li {
  float: left;
  margin: 0 2px;
}
/* line 404, ../sass/style.scss */
.author .socials li a {
  background: url("/images/bg-socials-mini.png") no-repeat;
  width: 21px;
  height: 21px;
  display: block;
}
/* line 412, ../sass/style.scss */
.author .socials .twitter {
  background-position: 0 0;
}
/* line 415, ../sass/style.scss */
.author .socials .twitter:hover {
  background-position: 0 -30px;
}
/* line 420, ../sass/style.scss */
.author .socials .facebook {
  background-position: -24px 0;
}
/* line 423, ../sass/style.scss */
.author .socials .facebook:hover {
  background-position: -24px -30px;
}
/* line 428, ../sass/style.scss */
.author .socials .linkedin {
  background-position: -48px 0;
}
/* line 431, ../sass/style.scss */
.author .socials .linkedin:hover {
  background-position: -48px -30px;
}
/* line 436, ../sass/style.scss */
.author .socials .home {
  background-position: -72px 0;
}
/* line 439, ../sass/style.scss */
.author .socials .home:hover {
  background-position: -72px -30px;
}
/* line 445, ../sass/style.scss */
.author .links {
  margin: 0 0 5px 0;
}
/* line 448, ../sass/style.scss */
.author .links li {
  margin: 0 0 2px 0;
}
/* line 452, ../sass/style.scss */
.author .links a {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: block;
  padding: 0 0 0 12px;
}
/* line 458, ../sass/style.scss */
.author .links a:hover {
  color: #828282;
}

/* line 466, ../sass/style.scss */
.album img {
  width: 32%;
  height: auto;
  margin: 0 -2px 20px 2%;
}
/* line 471, ../sass/style.scss */
.album img:first-of-type {
  margin: 0 -2px 20px 0;
}

/* line 479, ../sass/style.scss */
.contact h2,
.contact .list-links {
  margin: 0 0 20px 0;
}

/* line 485, ../sass/style.scss */
.list-style01 li {
  background: url("/images/bg-list.png") no-repeat 0 6px;
  padding-left: 10px;
  margin: 8px 0;
}

/* line 492, ../sass/style.scss */
.list-links {
  line-height: 1.5em;
}

/* line 497, ../sass/style.scss */
.list-links li a,
#tags ul li a {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: block;
  padding: 0 0 0 12px;
}
/* line 503, ../sass/style.scss */
.list-links li a:hover,
#tags ul li a:hover {
  color: #828282;
}

/* line 508, ../sass/style.scss */
.tiles {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  margin: 0 0 40px 0;
}
/* line 513, ../sass/style.scss */
.tiles .item {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 12.5%;
  margin: 0 -3px 0 0;
  position: relative;
  opacity: 0.5;
}
/* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.tiles .item {
  *display: inline;
}
/* line 520, ../sass/style.scss */
.tiles .item a {
  display: block;
}
/* line 524, ../sass/style.scss */
.tiles .item img {
  width: 100%;
  height: auto%;
  margin: 0 0 -1px 0;
}
/* line 530, ../sass/style.scss */
.tiles .item:hover {
  opacity: 1;
}
/* line 533, ../sass/style.scss */
.tiles .item:hover span {
  display: block;
}
/* line 538, ../sass/style.scss */
.tiles .item.filters {
  opacity: 1;
}
/* line 541, ../sass/style.scss */
.tiles .item.filters span {
  display: block;
}
/* line 546, ../sass/style.scss */
.tiles .item span {
  width: 100%;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
  line-height: 16px;
  background: rgba(0, 0, 0, 0.5);
}

/* line 562, ../sass/style.scss */
.filters.desktop {
  width: 25%;
  height: 360px;
  float: right;
}
/* line 567, ../sass/style.scss */
.filters.desktop section {
  width: 80%;
  margin: 0px auto 15px auto;
}
/* line 572, ../sass/style.scss */
.filters.desktop h3 {
  margin: 30px 0 15px 10%;
}
/* line 575, ../sass/style.scss */
.filters.desktop h3:first-child {
  margin-top: 20px;
}
/* line 581, ../sass/style.scss */
.filters h4 {
  margin: 0 0 5px 0;
}
/* line 585, ../sass/style.scss */
.filters a {
  font-size: 13px;
}
/* line 588, ../sass/style.scss */
.filters a:after {
  content: "/";
  margin: 0 10px;
}
/* line 595, ../sass/style.scss */
.filters a:last-child:after {
  display: none;
}

/* line 602, ../sass/style.scss */
.person {
  overflow: hidden;
  *zoom: 1;
  padding: 0 2% 30px 2%;
}
/* line 606, ../sass/style.scss */
.person .description {
  overflow: hidden;
  *zoom: 1;
  width: 60%;
  padding: 0 2% 0 0;
  float: left;
}
/* line 612, ../sass/style.scss */
.person .description section {
  border-top: 1px solid #E1E1E1;
  padding: 20px 0;
  text-align: justify;
  line-height: 16px;
}
/* line 619, ../sass/style.scss */
.person .description blockquote {
  background: url("/images/cite-top.png") no-repeat, url("/images/cite-bottom.png") bottom right no-repeat;
  padding: 25px 50px;
  margin: 30px 0;
  font-style: italic;
  font-size: 21px;
  line-height: 24px;
}
/* line 630, ../sass/style.scss */
.person .list-description {
  margin: 10px 0;
}
/* line 633, ../sass/style.scss */
.person .list-description li {
  margin: 5px 0;
}
/* line 638, ../sass/style.scss */
.person .photos {
  overflow: hidden;
  *zoom: 1;
  width: 40%;
  float: left;
}
/* line 643, ../sass/style.scss */
.person .photos .main {
  width: 100%;
  margin: 0 0 -3px 0;
}
/* line 647, ../sass/style.scss */
.person .photos .main img {
  width: 100%;
  height: auto;
}
/* line 653, ../sass/style.scss */
.person .photos .list {
  overflow: hidden;
  *zoom: 1;
}
/* line 656, ../sass/style.scss */
.person .photos .list img {
  width: 33.33%;
  height: auto;
  float: left;
  cursor: pointer;
  opacity: 0.5;
}
/* line 663, ../sass/style.scss */
.person .photos .list img:hover {
  opacity: 1;
}
/* line 670, ../sass/style.scss */
.person .see-also {
  margin: 30px 0 0 0;
}
/* line 673, ../sass/style.scss */
.person .see-also h2 {
  margin: 0 0 15px 0;
}
/* line 677, ../sass/style.scss */
.person .see-also li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 33.33%;
  margin: 0 -3px 0 0;
  position: relative;
}
/* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.person .see-also li {
  *display: inline;
}
/* line 683, ../sass/style.scss */
.person .see-also li a {
  display: block;
}
/* line 687, ../sass/style.scss */
.person .see-also li img {
  width: 100%;
  height: auto;
  margin: 0 0 -3px 0;
  opacity: 0.5;
}
/* line 695, ../sass/style.scss */
.person .see-also li:hover img {
  opacity: 1;
}
/* line 699, ../sass/style.scss */
.person .see-also li:hover span {
  display: block;
}
/* line 705, ../sass/style.scss */
.person .see-also span {
  width: 100%;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
  line-height: 16px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 719, ../sass/style.scss */
.person .share-buttons {
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 30px 0;
}
/* line 723, ../sass/style.scss */
.person .share-buttons .social {
  float: left;
}
/* line 727, ../sass/style.scss */
.person .share-buttons .back {
  float: right;
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: block;
  padding: 0 0 0 12px;
}
/* line 734, ../sass/style.scss */
.person .share-buttons .back:hover {
  color: #828282;
}
/* line 740, ../sass/style.scss */
.person ul.list-socials {
  clear: both;
  margin: 10px 0;
  height: 30px;
}
/* line 745, ../sass/style.scss */
.person ul.list-socials li {
  float: left;
  margin: 0 2px;
}
/* line 749, ../sass/style.scss */
.person ul.list-socials li a {
  background: url("/images/bg-socials.png") no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
/* line 755, ../sass/style.scss */
.person ul.list-socials li a.twitter {
  background-position: 0 0;
}
/* line 758, ../sass/style.scss */
.person ul.list-socials li a.twitter:hover {
  background-position: 0 -36px;
}
/* line 761, ../sass/style.scss */
.person ul.list-socials li a.facebook {
  background-position: -34px 0;
}
/* line 764, ../sass/style.scss */
.person ul.list-socials li a.facebook:hover {
  background-position: -34px -36px;
}
/* line 767, ../sass/style.scss */
.person ul.list-socials li a.linkedin {
  background-position: -68px 0;
}
/* line 770, ../sass/style.scss */
.person ul.list-socials li a.linkedin:hover {
  background-position: -68px -36px;
}
/* line 775, ../sass/style.scss */
.person .tags h2 {
  margin: 0 0 20px 0;
}
/* line 779, ../sass/style.scss */
.person .tags li {
  float: left;
  margin-left: 5px;
  background: url("/images/bg-keywords.png") no-repeat 0 7px;
  padding: 0 0 0 12px;
  line-height: 20px;
}
/* line 787, ../sass/style.scss */
.person .tags a {
  padding: 2px 0 2px 12px;
  background: url("/images/bg-list-links.png") no-repeat 0 7px;
}

/* line 795, ../sass/style.scss */
.empty {
  padding: 30px 0;
}
/* line 798, ../sass/style.scss */
.empty h3 {
  margin: 0 0 10px 0;
}
/* line 802, ../sass/style.scss */
.empty .back {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: block;
  padding: 0 0 0 12px;
}
/* line 808, ../sass/style.scss */
.empty .back:hover {
  color: #828282;
}

/* line 814, ../sass/style.scss */
.result {
  padding: 20px 0;
  border-bottom: 1px solid #E1E1E1;
}
/* line 818, ../sass/style.scss */
.result h3 {
  margin: 0 0 15px 0;
}
/* line 822, ../sass/style.scss */
.result > .media {
  width: 220px;
  height: 220px;
  margin: 0 20px 0 0;
}
/* line 827, ../sass/style.scss */
.result > .media img {
  width: 100%;
  height: auto;
}
/* line 833, ../sass/style.scss */
.result p {
  margin: 0;
}
/* line 837, ../sass/style.scss */
.result .contact {
  float: right;
  width: 220px;
  margin-left: 20px;
}
/* line 843, ../sass/style.scss */
.result:last-child {
  border: 0;
}
/* line 847, ../sass/style.scss */
.result .socials {
  overflow: hidden;
  *zoom: 1;
  margin: 5px 0;
}
/* line 851, ../sass/style.scss */
.result .socials li {
  float: left;
  margin: 0 2px;
}
/* line 855, ../sass/style.scss */
.result .socials li a {
  background: url("/images/bg-socials-mini.png") no-repeat;
  width: 21px;
  height: 21px;
  display: block;
}
/* line 863, ../sass/style.scss */
.result .socials .twitter {
  background-position: 0 0;
}
/* line 866, ../sass/style.scss */
.result .socials .twitter:hover {
  background-position: 0 -30px;
}
/* line 871, ../sass/style.scss */
.result .socials .facebook {
  background-position: -24px 0;
}
/* line 874, ../sass/style.scss */
.result .socials .facebook:hover {
  background-position: -24px -30px;
}
/* line 879, ../sass/style.scss */
.result .socials .linkedin {
  background-position: -48px 0;
}
/* line 882, ../sass/style.scss */
.result .socials .linkedin:hover {
  background-position: -48px -30px;
}
/* line 887, ../sass/style.scss */
.result .socials .home {
  background-position: -72px 0;
}
/* line 890, ../sass/style.scss */
.result .socials .home:hover {
  background-position: -72px -30px;
}
/* line 896, ../sass/style.scss */
.result .links {
  margin: 0 0 5px 0;
}
/* line 899, ../sass/style.scss */
.result .links li {
  margin: 0 0 2px 0;
}
/* line 903, ../sass/style.scss */
.result .links a {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: block;
  padding: 0 0 0 12px;
}
/* line 909, ../sass/style.scss */
.result .links a:hover {
  color: #828282;
}
/* line 915, ../sass/style.scss */
.result .details {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: block;
  padding: 0 0 0 12px;
  margin: 20px 0 0 0;
}
/* line 922, ../sass/style.scss */
.result .details:hover {
  color: #828282;
}

/* line 928, ../sass/style.scss */
.border-color1 {
  border-bottom: 2px solid #EC6310;
}

/* line 929, ../sass/style.scss */
.border-color2 {
  border-bottom: 2px solid #B5EC66;
}

/* line 930, ../sass/style.scss */
.border-color3 {
  border-bottom: 2px solid #66BEEC;
}

/* line 931, ../sass/style.scss */
.border-color4 {
  border-bottom: 2px solid #BF529D;
}

/* line 932, ../sass/style.scss */
.border-color5 {
  border-bottom: 2px solid #FFD200;
}

@media only screen and (max-width: 480px) {
  /* line 3, ../sass/_media.scss */
  body > header {
    margin: 30px 0 10px 0;
  }
  /* line 7, ../sass/_media.scss */
  body > footer {
    padding-top: 20px;
  }

  /* line 12, ../sass/_media.scss */
  nav.menu {
    display: none;
  }

  /* line 16, ../sass/_media.scss */
  select.menu {
    display: block;
  }

  /* line 20, ../sass/_media.scss */
  div.alphabet {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0 60px;
    float: none;
  }

  /* line 27, ../sass/_media.scss */
  .slider {
    margin: 20px 0 0 0;
  }
  /* line 30, ../sass/_media.scss */
  .slider li {
    width: 50%;
  }

  /* line 35, ../sass/_media.scss */
  div.search {
    float: none;
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  /* line 41, ../sass/_media.scss */
  div.search input[type="text"] {
    width: 100%;
  }
  /* line 45, ../sass/_media.scss */
  div.search input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
  }

  /* line 53, ../sass/_media.scss */
  .news article {
    width: 100%;
  }

  /* line 59, ../sass/_media.scss */
  .single-news img {
    width: 100%;
    height: auto;
  }
  /* line 64, ../sass/_media.scss */
  .single-news .media {
    float: none;
    width: 100%;
    padding: 0;
    max-width: 100%;
  }
  /* line 71, ../sass/_media.scss */
  .single-news .nav {
    display: block;
  }

  /* line 76, ../sass/_media.scss */
  .mobile {
    display: block;
  }
  /* line 80, ../sass/_media.scss */
  .mobile .partner .media-block {
    margin-bottom: 10px;
  }
  /* line 84, ../sass/_media.scss */
  .mobile .partner .media {
    width: 100px;
    height: 100px;
    margin: 0 15px 0 0;
  }
  /* line 90, ../sass/_media.scss */
  .mobile .partner .text {
    height: 100px;
  }
  /* line 93, ../sass/_media.scss */
  .mobile .partner .text a {
    margin: 0;
  }

  /* line 100, ../sass/_media.scss */
  .desktop {
    display: none;
  }

  /* line 105, ../sass/_media.scss */
  .author > .media {
    width: auto;
    height: auto;
    float: none;
    background: none;
    margin: 0 0 5px 0;
  }
  /* line 112, ../sass/_media.scss */
  .author > .media p {
    font-size: 17px;
    line-height: 1em;
    text-align: left;
  }

  /* line 121, ../sass/_media.scss */
  .result > .media {
    display: none;
  }

  /* line 127, ../sass/_media.scss */
  .album img {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
  }

  /* line 134, ../sass/_media.scss */
  .tiles {
    margin: 20px 0;
  }
  /* line 137, ../sass/_media.scss */
  .tiles .item {
    width: 33.33%;
  }

  /* line 142, ../sass/_media.scss */
  .person {
    padding: 0 0 30px 0;
  }
  /* line 145, ../sass/_media.scss */
  .person .description {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 5%;
    float: none;
  }
  /* line 151, ../sass/_media.scss */
  .person .description section {
    padding: 15px 0;
  }
  /* line 156, ../sass/_media.scss */
  .person .photos {
    width: 100%;
    padding: 0 5%;
    float: none;
  }

  /* line 164, ../sass/_media.scss */
  .filters.mobile {
    width: 90%;
    margin: 30px auto 0 auto;
    padding: 0;
  }
  /* line 169, ../sass/_media.scss */
  .filters.mobile > div {
    width: 100%;
    margin: 0 0 20px 0;
  }
  /* line 173, ../sass/_media.scss */
  .filters.mobile > div section {
    float: none;
    width: 100%;
    margin: 0 0 15px 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  /* line 185, ../sass/_media.scss */
  body > header {
    margin: 30px 0;
  }
  /* line 189, ../sass/_media.scss */
  body > footer {
    padding-top: 30px;
  }

  /* line 195, ../sass/_media.scss */
  .slider li {
    width: 33.33%;
  }

  /* line 200, ../sass/_media.scss */
  .alphabet {
    line-height: 14px;
    margin: 2px 0 20px 10px;
  }
  /* line 205, ../sass/_media.scss */
  .alphabet a,
  .alphabet span {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    width: 16px;
    text-align: center;
    margin: 0;
  }
  /* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
  .alphabet a,
  .alphabet span {
    *display: inline;
  }
  /* line 211, ../sass/_media.scss */
  .alphabet a:first-child,
  .alphabet span:first-child {
    margin: 0;
  }
  /* line 216, ../sass/_media.scss */
  .alphabet br {
    display: block;
  }

  /* line 222, ../sass/_media.scss */
  .search input[type="text"] {
    width: 170px;
  }

  /* line 228, ../sass/_media.scss */
  .news article {
    width: 50%;
  }

  /* line 234, ../sass/_media.scss */
  .single-news .media {
    width: 38%;
    margin: 0 2% 0 0;
  }
  /* line 239, ../sass/_media.scss */
  .single-news .nav {
    display: block;
  }

  /* line 246, ../sass/_media.scss */
  .desktop .partner .media {
    width: 150px;
    height: 150px;
    margin: 0 15px 0 0;
  }

  /* line 255, ../sass/_media.scss */
  .author > .media {
    width: 150px;
    height: 150px;
    margin: 0 15px 0 0;
  }
  /* line 260, ../sass/_media.scss */
  .author > .media p {
    font-size: 15px;
    line-height: 150px;
  }

  /* line 268, ../sass/_media.scss */
  .author > .media {
    width: 150px;
    height: 150px;
    margin: 0 15px 0 0;
  }

  /* line 276, ../sass/_media.scss */
  .tiles .item {
    width: 20%;
  }

  /* line 281, ../sass/_media.scss */
  .person {
    padding: 0 0 30px 0;
  }
  /* line 284, ../sass/_media.scss */
  .person .description {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 5%;
    float: none;
  }
  /* line 290, ../sass/_media.scss */
  .person .description section {
    padding: 15px 0;
  }
  /* line 295, ../sass/_media.scss */
  .person .photos {
    width: 100%;
    padding: 0 5%;
    float: none;
  }

  /* line 303, ../sass/_media.scss */
  .filters.mobile {
    padding: 10px;
  }
  /* line 306, ../sass/_media.scss */
  .filters.mobile > div {
    float: left;
    width: 200px;
    margin: 0 10px 0 0;
  }
  /* line 311, ../sass/_media.scss */
  .filters.mobile > div:first-child {
    width: 420px;
  }
  /* line 316, ../sass/_media.scss */
  .filters.mobile section {
    float: left;
    width: 200px;
    margin: 0 10px 15px 0;
  }
}
@media only screen and (min-width: 721px) and (max-width: 960px) {
  /* line 327, ../sass/_media.scss */
  .slider li {
    width: 25%;
  }

  /* line 333, ../sass/_media.scss */
  .tiles .item {
    width: 16.66%;
  }

  /* line 339, ../sass/_media.scss */
  .filters.mobile {
    padding: 10px;
  }
  /* line 342, ../sass/_media.scss */
  .filters.mobile > div {
    float: left;
    width: 200px;
    margin: 0 10px 0 0;
  }
  /* line 347, ../sass/_media.scss */
  .filters.mobile > div:first-child {
    width: 420px;
  }
  /* line 352, ../sass/_media.scss */
  .filters.mobile section {
    float: left;
    width: 200px;
    margin: 0 10px 15px 0;
  }
}
@media only screen and (max-width: 960px) {
  /* line 363, ../sass/_media.scss */
  body > footer {
    width: 90%;
    margin: -1px auto 0 auto;
  }

  /* line 369, ../sass/_media.scss */
  .alphabet {
    margin-left: 10px;
  }

  /* line 373, ../sass/_media.scss */
  .slider {
    border-bottom: 1px solid #E1E1E1;
  }

  /* line 377, ../sass/_media.scss */
  .content {
    padding: 0 5%;
  }

  /* line 382, ../sass/_media.scss */
  .author .contact {
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
  }

  /* line 389, ../sass/_media.scss */
  .results {
    width: 90%;
    margin: 0 auto;
  }

  /* line 395, ../sass/_media.scss */
  .result .contact {
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
  }

  /* line 403, ../sass/_media.scss */
  .filter.mobile {
    display: block;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 409, ../sass/_media.scss */
  .filter.desktop {
    display: none;
  }

  /* line 415, ../sass/_media.scss */
  .filters.mobile {
    display: block;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 420, ../sass/_media.scss */
  .filters.mobile h3 {
    margin: 20px 0 15px 0;
  }
  /* line 423, ../sass/_media.scss */
  .filters.mobile h3:first-child {
    margin-top: 0px;
  }
  /* line 428, ../sass/_media.scss */
  .filters.mobile a {
    line-height: 30px;
  }
  /* line 433, ../sass/_media.scss */
  .filters.desktop {
    display: none !important;
  }
}
