/* line 17, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../../fonts/myriadpro-semibold.eot");
  src: url("../../fonts/myriadpro-semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/myriadpro-semibold.woff") format("woff"), url("../../fonts/myriadpro-semibold.ttf") format("truetype"), url("../../fonts/myriadpro-semibold.svg#myriadpro-semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 5, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/style.scss */
.media-block {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
/* line 14, ../sass/style.scss */
.media-block .text {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
  position: relative;
}
/* line 21, ../sass/style.scss */
.media-block .media {
  float: left;
}

/* line 26, ../sass/style.scss */
.mobile {
  display: none;
}

/* line 30, ../sass/style.scss */
body {
  min-width: 320px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  color: #696969;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
/* line 39, ../sass/style.scss */
body a {
  text-decoration: none;
  color: #040404;
}
/* line 43, ../sass/style.scss */
body a:hover {
  color: #828282;
}
/* line 48, ../sass/style.scss */
body p {
  line-height: 20px;
  margin: 1em 0;
}
/* line 53, ../sass/style.scss */
body > header {
  margin: 80px 0 50px 0;
}
/* line 56, ../sass/style.scss */
body > header h1 {
  width: 294px;
  height: 54px;
  margin: 0 auto 25px auto;
}
/* line 61, ../sass/style.scss */
body > header h1 a {
  width: 100%;
  height: 100%;
  display: block;
  background: url(/images/web2.png) no-repeat;
  text-indent: -9999px;
}
/* line 71, ../sass/style.scss */
body .container {
  overflow: hidden;
  *zoom: 1;
}
/* line 75, ../sass/style.scss */
body > footer {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  border-top: 1px solid #E1E1E1;
  padding: 40px 0 25px 0;
  text-align: center;
  color: #bfbfbf;
  font-size: 11px;
  line-height: 14px;
}
/* line 85, ../sass/style.scss */
body > footer a {
  color: inherit;
  background: url(/images/bg-list2.png) no-repeat scroll 5px 4px transparent;
  padding: 0 0 0 16px;
}
/* line 90, ../sass/style.scss */
body > footer a:first-child {
  background: none;
  padding: 0;
}
/* line 95, ../sass/style.scss */
body > footer a:hover {
  color: #919191;
}

/* line 102, ../sass/style.scss */
nav.menu {
  text-align: center;
  color: #040404;
  text-transform: uppercase;
  font-family: MyriadPro, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1em;
  font-weight: normal;
}
/* line 108, ../sass/style.scss */
nav.menu li {
  display: inline;
  padding: 3px 8px;
}
/* line 113, ../sass/style.scss */
nav.menu a {
  color: inherit;
}
/* line 116, ../sass/style.scss */
nav.menu a:hover {
  color: #6e6e6e;
}
/* line 120, ../sass/style.scss */
nav.menu a.active {
  color: #828282;
}

/* line 126, ../sass/style.scss */
select.menu {
  width: 90%;
  margin: 0 auto 30px auto;
  display: none;
}

/* line 132, ../sass/style.scss */
.alphabet {
  font-family: MyriadPro, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1em;
  font-weight: normal;
  float: left;
  line-height: 12px;
  text-transform: uppercase;
  margin: 20px 0 30px 0;
}
/* line 140, ../sass/style.scss */
.alphabet a,
.alphabet span {
  margin: 0 4px;
}
/* line 143, ../sass/style.scss */
.alphabet a:first-child,
.alphabet span:first-child {
  margin: 0 4px 0 0;
}
/* line 148, ../sass/style.scss */
.alphabet br {
  display: none;
}

/* line 153, ../sass/style.scss */
.search {
  float: right;
  border: 1px solid #CCC;
}
/* line 157, ../sass/style.scss */
.search input[type="text"] {
  width: 160px;
  height: 30px;
  border: none;
  padding: 0 0 0 10px;
  background: #fff;
}
/* line 165, ../sass/style.scss */
.search input[type="submit"] {
  width: 30px;
  height: 30px;
  padding: 0;
  background: url(/images/bg-search.png) center center no-repeat;
  border: none;
  cursor: pointer;
}

/* line 175, ../sass/style.scss */
.slider {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  margin: 30px 0 0 0;
}
/* line 180, ../sass/style.scss */
.slider h5 {
  font: bold 10px Helvetica, Arial, sans-serif;
  margin: 10px 0 15px 0;
}
/* line 185, ../sass/style.scss */
.slider ul {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  width: 100% !important;
}
/* line 194, ../sass/style.scss */
.slider li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 20%;
  margin: 0 -3px 0 0;
}
/* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.slider li {
  *display: inline;
}
/* line 200, ../sass/style.scss */
.slider img {
  width: 100%;
  height: auto;
  margin: 0 0 -3px 0;
}

/* line 209, ../sass/style.scss */
h2,
h3,
h4 {
  text-transform: uppercase;
  color: #1A181D;
  margin: 0;
}

/* line 215, ../sass/style.scss */
h2 {
  font-family: MyriadPro, Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1em;
  font-weight: normal;
  border-bottom: 1px solid #E1E1E1;
}

/* line 220, ../sass/style.scss */
h3 {
  font-family: MyriadPro, Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 21px;
  font-weight: normal;
}

/* line 224, ../sass/style.scss */
h4 {
  font-family: MyriadPro, Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1em;
  font-weight: normal;
}

/* line 229, ../sass/style.scss */
.content p {
  line-height: 20px;
}

/* line 234, ../sass/style.scss */
.pagination {
  display: none;
}

/* line 238, ../sass/style.scss */
.news {
  display: block;
}
/* line 241, ../sass/style.scss */
.news article {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 20px 0 20px -2px;
  padding: 0 2% 0 0;
  width: 33.33%;
}
/* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.news article {
  *display: inline;
}
/* line 247, ../sass/style.scss */
.news article:last-child {
  margin-bottom: 30px;
}
/* line 252, ../sass/style.scss */
.news .date {
  font-size: 11px;
  margin: 3px 0 10px 0;
  display: block;
}
/* line 258, ../sass/style.scss */
.news .more {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 0 0 0 12px;
}
/* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.news .more {
  *display: inline;
}
/* line 264, ../sass/style.scss */
.news .more:hover {
  color: #828282;
}

/* line 270, ../sass/style.scss */
.single-news {
  padding: 30px 0;
}
/* line 273, ../sass/style.scss */
.single-news img {
  margin: 0 0 20px 0;
}
/* line 277, ../sass/style.scss */
.single-news .nav {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 10px;
  padding: 0 0 0 12px;
}
/* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.single-news .nav {
  *display: inline;
}
/* line 284, ../sass/style.scss */
.single-news .nav:hover {
  color: #828282;
}
/* line 289, ../sass/style.scss */
.single-news .social {
  margin: 20px 0 0 0;
}
/* line 293, ../sass/style.scss */
.single-news .media {
  width: 48%;
  max-width: 320px;
  padding: 0 2% 0 0;
}

/* line 300, ../sass/style.scss */
.partner {
  padding: 20px 0;
  border-bottom: 1px solid #E1E1E1;
}
/* line 304, ../sass/style.scss */
.partner .media {
  width: 220px;
  height: 220px;
  margin: 0 20px 0 0;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 313, ../sass/style.scss */
.partner .wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 320, ../sass/style.scss */
.partner .text a {
  display: block;
  margin: 0 0 10px 0;
}
/* line 326, ../sass/style.scss */
.partner p {
  margin: 0;
}
/* line 329, ../sass/style.scss */
.partner p:last-child {
  margin: 0;
}
/* line 334, ../sass/style.scss */
.partner:last-child {
  border: 0;
}
/* line 339, ../sass/style.scss */
.partner:hover .media {
  background-position: 0 100%;
}

/* line 345, ../sass/style.scss */
.partners-xsolve {
  background: url("/images/partners-xsolve.png") no-repeat;
}

/* line 346, ../sass/style.scss */
.partners-chilid {
  background: url("/images/partners-chilid.png") no-repeat;
}

/* line 347, ../sass/style.scss */
.partners-wsiz {
  background: url("/images/partners-wsiz.png") no-repeat;
}

/* line 348, ../sass/style.scss */
.partners-speedup {
  background: url("/images/partners-speedup.png") no-repeat;
}

/* line 349, ../sass/style.scss */
.partners-gazeta {
  background: url("/images/partners-gazeta.png") no-repeat;
}

/* line 350, ../sass/style.scss */
.partners-diamonds {
  background: url("/images/partners-diamonds.png") no-repeat;
}

/* line 352, ../sass/style.scss */
.author {
  padding: 20px 0;
  border-bottom: 1px solid #E1E1E1;
}
/* line 356, ../sass/style.scss */
.author > .media {
  width: 220px;
  height: 220px;
  margin: 0 20px 0 0;
  background: #E9E9E9;
}
/* line 362, ../sass/style.scss */
.author > .media p {
  font-family: MyriadPro, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 220px;
  font-weight: normal;
  color: #000;
  text-align: center;
}
/* line 369, ../sass/style.scss */
.author p {
  margin: 0;
}
/* line 373, ../sass/style.scss */
.author .contact {
  float: right;
  width: 220px;
  margin-left: 20px;
}
/* line 379, ../sass/style.scss */
.author:last-child {
  border: 0;
}
/* line 383, ../sass/style.scss */
.author .socials {
  overflow: hidden;
  *zoom: 1;
  margin: 5px 0;
}
/* line 387, ../sass/style.scss */
.author .socials li {
  float: left;
  margin: 0 2px;
}
/* line 391, ../sass/style.scss */
.author .socials li a {
  background: url("/images/bg-socials-mini.png") no-repeat;
  width: 21px;
  height: 21px;
  display: block;
}
/* line 399, ../sass/style.scss */
.author .socials .twitter {
  background-position: 0 0;
}
/* line 402, ../sass/style.scss */
.author .socials .twitter:hover {
  background-position: 0 -30px;
}
/* line 407, ../sass/style.scss */
.author .socials .facebook {
  background-position: -24px 0;
}
/* line 410, ../sass/style.scss */
.author .socials .facebook:hover {
  background-position: -24px -30px;
}
/* line 415, ../sass/style.scss */
.author .socials .linkedin {
  background-position: -48px 0;
}
/* line 418, ../sass/style.scss */
.author .socials .linkedin:hover {
  background-position: -48px -30px;
}
/* line 423, ../sass/style.scss */
.author .socials .home {
  background-position: -72px 0;
}
/* line 426, ../sass/style.scss */
.author .socials .home:hover {
  background-position: -72px -30px;
}
/* line 432, ../sass/style.scss */
.author .links {
  margin: 0 0 5px 0;
}
/* line 435, ../sass/style.scss */
.author .links li {
  margin: 0 0 2px 0;
}
/* line 439, ../sass/style.scss */
.author .links a {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: block;
  padding: 0 0 0 12px;
}
/* line 445, ../sass/style.scss */
.author .links a:hover {
  color: #828282;
}

/* line 453, ../sass/style.scss */
.album img {
  width: 32%;
  height: auto;
  margin: 0 -2px 20px 2%;
}
/* line 458, ../sass/style.scss */
.album img:first-of-type {
  margin: 0 -2px 20px 0;
}

/* line 466, ../sass/style.scss */
.contact h2,
.contact .list-links {
  margin: 0 0 20px 0;
}

/* line 472, ../sass/style.scss */
.list-style01 li {
  background: url("/images/bg-list.png") no-repeat 0 6px;
  padding-left: 10px;
  margin: 8px 0;
}

/* line 480, ../sass/style.scss */
.list-links li a,
#tags ul li a {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: block;
  padding: 0 0 0 12px;
}
/* line 486, ../sass/style.scss */
.list-links li a:hover,
#tags ul li a:hover {
  color: #828282;
}

/* line 491, ../sass/style.scss */
.tiles {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  margin: 0 0 40px 0;
}
/* line 496, ../sass/style.scss */
.tiles li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 12.5%;
  margin: 0 -3px 0 0;
  position: relative;
  opacity: 0.5;
}
/* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.tiles li {
  *display: inline;
}
/* line 503, ../sass/style.scss */
.tiles li a {
  display: block;
}
/* line 507, ../sass/style.scss */
.tiles li img {
  width: 100%;
  height: 100%;
  margin: 0 0 -2px 0;
}
/* line 513, ../sass/style.scss */
.tiles li:hover {
  opacity: 1;
}
/* line 516, ../sass/style.scss */
.tiles li:hover span {
  display: block;
}
/* line 521, ../sass/style.scss */
.tiles li.filters {
  opacity: 1;
}
/* line 524, ../sass/style.scss */
.tiles li.filters span {
  display: block;
}
/* line 530, ../sass/style.scss */
.tiles span {
  width: 100%;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
  line-height: 16px;
  background: rgba(0, 0, 0, 0.5);
}

/* line 545, ../sass/style.scss */
.filters.desktop {
  width: 25%;
  height: 240px;
  float: right;
}

/* line 552, ../sass/style.scss */
.person {
  overflow: hidden;
  *zoom: 1;
  padding: 0 2% 30px 2%;
}
/* line 556, ../sass/style.scss */
.person .description {
  overflow: hidden;
  *zoom: 1;
  width: 60%;
  padding: 0 2% 0 0;
  float: left;
}
/* line 562, ../sass/style.scss */
.person .description section {
  border-top: 1px solid #E1E1E1;
  padding: 20px 0;
  text-align: justify;
  line-height: 16px;
}
/* line 569, ../sass/style.scss */
.person .description blockquote {
  background: url("/images/cite-top.png") no-repeat, url("/images/cite-bottom.png") bottom right no-repeat;
  padding: 25px 50px;
  margin: 30px 0;
  font-style: italic;
  font-size: 21px;
  line-height: 24px;
}
/* line 580, ../sass/style.scss */
.person .list-description {
  margin: 10px 0;
}
/* line 583, ../sass/style.scss */
.person .list-description li {
  margin: 5px 0;
}
/* line 588, ../sass/style.scss */
.person .photos {
  overflow: hidden;
  *zoom: 1;
  width: 40%;
  float: left;
}
/* line 593, ../sass/style.scss */
.person .photos .main {
  width: 100%;
  margin: 0 0 -3px 0;
}
/* line 597, ../sass/style.scss */
.person .photos .main img {
  width: 100%;
  height: auto;
}
/* line 603, ../sass/style.scss */
.person .photos .list {
  overflow: hidden;
  *zoom: 1;
}
/* line 606, ../sass/style.scss */
.person .photos .list img {
  width: 33.33%;
  height: auto;
  float: left;
  cursor: pointer;
  opacity: 0.5;
}
/* line 613, ../sass/style.scss */
.person .photos .list img:hover {
  opacity: 1;
}
/* line 620, ../sass/style.scss */
.person .see-also {
  margin: 30px 0 0 0;
}
/* line 623, ../sass/style.scss */
.person .see-also h2 {
  margin: 0 0 15px 0;
}
/* line 627, ../sass/style.scss */
.person .see-also li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 33.33%;
  margin: 0 -3px 0 0;
  position: relative;
}
/* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.person .see-also li {
  *display: inline;
}
/* line 633, ../sass/style.scss */
.person .see-also li a {
  display: block;
}
/* line 637, ../sass/style.scss */
.person .see-also li img {
  width: 100%;
  height: 100%;
  margin: 0 0 -3px 0;
  opacity: 0.5;
}
/* line 645, ../sass/style.scss */
.person .see-also li:hover img {
  opacity: 1;
}
/* line 649, ../sass/style.scss */
.person .see-also li:hover span {
  display: block;
}
/* line 655, ../sass/style.scss */
.person .see-also span {
  width: 100%;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
  line-height: 16px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 669, ../sass/style.scss */
.person .share-buttons {
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 30px 0;
}
/* line 673, ../sass/style.scss */
.person .share-buttons .social {
  float: left;
}
/* line 677, ../sass/style.scss */
.person .share-buttons .back {
  float: right;
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: block;
  padding: 0 0 0 12px;
}
/* line 684, ../sass/style.scss */
.person .share-buttons .back:hover {
  color: #828282;
}
/* line 690, ../sass/style.scss */
.person ul.list-socials {
  clear: both;
  margin: 10px 0;
  height: 30px;
}
/* line 695, ../sass/style.scss */
.person ul.list-socials li {
  float: left;
  margin: 0 2px;
}
/* line 699, ../sass/style.scss */
.person ul.list-socials li a {
  background: url("/images/bg-socials.png") no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
/* line 705, ../sass/style.scss */
.person ul.list-socials li a.twitter {
  background-position: 0 0;
}
/* line 708, ../sass/style.scss */
.person ul.list-socials li a.twitter:hover {
  background-position: 0 -36px;
}
/* line 711, ../sass/style.scss */
.person ul.list-socials li a.facebook {
  background-position: -34px 0;
}
/* line 714, ../sass/style.scss */
.person ul.list-socials li a.facebook:hover {
  background-position: -34px -36px;
}
/* line 717, ../sass/style.scss */
.person ul.list-socials li a.linkedin {
  background-position: -68px 0;
}
/* line 720, ../sass/style.scss */
.person ul.list-socials li a.linkedin:hover {
  background-position: -68px -36px;
}
/* line 725, ../sass/style.scss */
.person .tags h2 {
  margin: 0 0 20px 0;
}
/* line 729, ../sass/style.scss */
.person .tags li {
  float: left;
  margin-left: 5px;
  background: url("/images/bg-keywords.png") no-repeat 0 7px;
  padding: 0 0 0 12px;
  line-height: 20px;
}
/* line 737, ../sass/style.scss */
.person .tags a {
  padding: 2px 0 2px 12px;
  background: url("/images/bg-list-links.png") no-repeat 0 7px;
}

/* line 745, ../sass/style.scss */
.empty {
  padding: 30px 0;
}
/* line 748, ../sass/style.scss */
.empty h3 {
  margin: 0 0 10px 0;
}
/* line 752, ../sass/style.scss */
.empty .back {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: block;
  padding: 0 0 0 12px;
}
/* line 758, ../sass/style.scss */
.empty .back:hover {
  color: #828282;
}

/* line 764, ../sass/style.scss */
.result {
  padding: 20px 0;
  border-bottom: 1px solid #E1E1E1;
}
/* line 768, ../sass/style.scss */
.result h3 {
  margin: 0 0 15px 0;
}
/* line 772, ../sass/style.scss */
.result > .media {
  width: 220px;
  height: 220px;
  margin: 0 20px 0 0;
}
/* line 777, ../sass/style.scss */
.result > .media img {
  width: 100%;
  height: auto;
}
/* line 783, ../sass/style.scss */
.result p {
  margin: 0;
}
/* line 787, ../sass/style.scss */
.result .contact {
  float: right;
  width: 220px;
  margin-left: 20px;
}
/* line 793, ../sass/style.scss */
.result:last-child {
  border: 0;
}
/* line 797, ../sass/style.scss */
.result .socials {
  overflow: hidden;
  *zoom: 1;
  margin: 5px 0;
}
/* line 801, ../sass/style.scss */
.result .socials li {
  float: left;
  margin: 0 2px;
}
/* line 805, ../sass/style.scss */
.result .socials li a {
  background: url("/images/bg-socials-mini.png") no-repeat;
  width: 21px;
  height: 21px;
  display: block;
}
/* line 813, ../sass/style.scss */
.result .socials .twitter {
  background-position: 0 0;
}
/* line 816, ../sass/style.scss */
.result .socials .twitter:hover {
  background-position: 0 -30px;
}
/* line 821, ../sass/style.scss */
.result .socials .facebook {
  background-position: -24px 0;
}
/* line 824, ../sass/style.scss */
.result .socials .facebook:hover {
  background-position: -24px -30px;
}
/* line 829, ../sass/style.scss */
.result .socials .linkedin {
  background-position: -48px 0;
}
/* line 832, ../sass/style.scss */
.result .socials .linkedin:hover {
  background-position: -48px -30px;
}
/* line 837, ../sass/style.scss */
.result .socials .home {
  background-position: -72px 0;
}
/* line 840, ../sass/style.scss */
.result .socials .home:hover {
  background-position: -72px -30px;
}
/* line 846, ../sass/style.scss */
.result .links {
  margin: 0 0 5px 0;
}
/* line 849, ../sass/style.scss */
.result .links li {
  margin: 0 0 2px 0;
}
/* line 853, ../sass/style.scss */
.result .links a {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: block;
  padding: 0 0 0 12px;
}
/* line 859, ../sass/style.scss */
.result .links a:hover {
  color: #828282;
}
/* line 865, ../sass/style.scss */
.result .details {
  color: #040404;
  background: url("/images/ico-link-more.png") no-repeat 3px 4px;
  display: block;
  padding: 0 0 0 12px;
  margin: 20px 0 0 0;
}
/* line 872, ../sass/style.scss */
.result .details:hover {
  color: #828282;
}

/* line 878, ../sass/style.scss */
.border-color1 {
  border-bottom: 2px solid #EC6310;
}

/* line 879, ../sass/style.scss */
.border-color2 {
  border-bottom: 2px solid #B5EC66;
}

/* line 880, ../sass/style.scss */
.border-color3 {
  border-bottom: 2px solid #66BEEC;
}

/* line 881, ../sass/style.scss */
.border-color4 {
  border-bottom: 2px solid #BF529D;
}

/* line 882, ../sass/style.scss */
.border-color5 {
  border-bottom: 2px solid #FFD200;
}

@media only screen and (max-width: 480px) {
  /* line 3, ../sass/_media.scss */
  body > header {
    margin: 30px 0 10px 0;
  }
  /* line 7, ../sass/_media.scss */
  body > footer {
    padding-top: 20px;
  }

  /* line 12, ../sass/_media.scss */
  nav.menu {
    display: none;
  }

  /* line 16, ../sass/_media.scss */
  select.menu {
    display: block;
  }

  /* line 20, ../sass/_media.scss */
  div.alphabet {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0 60px;
    float: none;
  }

  /* line 27, ../sass/_media.scss */
  .slider {
    margin: 20px 0 0 0;
  }
  /* line 30, ../sass/_media.scss */
  .slider li {
    width: 50%;
  }

  /* line 35, ../sass/_media.scss */
  div.search {
    float: none;
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  /* line 41, ../sass/_media.scss */
  div.search input[type="text"] {
    width: 100%;
  }
  /* line 45, ../sass/_media.scss */
  div.search input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
  }

  /* line 53, ../sass/_media.scss */
  .news article {
    width: 100%;
  }

  /* line 59, ../sass/_media.scss */
  .single-news img {
    width: 100%;
    height: auto;
  }
  /* line 64, ../sass/_media.scss */
  .single-news .media {
    float: none;
    width: 100%;
    padding: 0;
    max-width: 100%;
  }
  /* line 71, ../sass/_media.scss */
  .single-news .nav {
    display: block;
  }

  /* line 76, ../sass/_media.scss */
  .mobile {
    display: block;
  }
  /* line 80, ../sass/_media.scss */
  .mobile .partner .media-block {
    margin-bottom: 10px;
  }
  /* line 84, ../sass/_media.scss */
  .mobile .partner .media {
    width: 100px;
    height: 100px;
    margin: 0 15px 0 0;
  }
  /* line 90, ../sass/_media.scss */
  .mobile .partner .text {
    height: 100px;
  }
  /* line 93, ../sass/_media.scss */
  .mobile .partner .text a {
    margin: 0;
  }

  /* line 100, ../sass/_media.scss */
  .desktop {
    display: none;
  }

  /* line 105, ../sass/_media.scss */
  .author > .media {
    width: auto;
    height: auto;
    float: none;
    background: none;
    margin: 0 0 5px 0;
  }
  /* line 112, ../sass/_media.scss */
  .author > .media p {
    font-size: 17px;
    line-height: 1em;
    text-align: left;
  }

  /* line 121, ../sass/_media.scss */
  .result > .media {
    display: none;
  }

  /* line 127, ../sass/_media.scss */
  .album img {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
  }

  /* line 134, ../sass/_media.scss */
  .tiles {
    margin: 20px 0;
  }
  /* line 137, ../sass/_media.scss */
  .tiles li {
    width: 33.33%;
  }

  /* line 142, ../sass/_media.scss */
  .person {
    padding: 0 0 30px 0;
  }
  /* line 145, ../sass/_media.scss */
  .person .description {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 5%;
    float: none;
  }
  /* line 151, ../sass/_media.scss */
  .person .description section {
    padding: 15px 0;
  }
  /* line 156, ../sass/_media.scss */
  .person .photos {
    width: 100%;
    padding: 0 5%;
    float: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  /* line 166, ../sass/_media.scss */
  body > header {
    margin: 30px 0;
  }
  /* line 170, ../sass/_media.scss */
  body > footer {
    padding-top: 30px;
  }

  /* line 176, ../sass/_media.scss */
  .slider li {
    width: 33.33%;
  }

  /* line 181, ../sass/_media.scss */
  .alphabet {
    line-height: 14px;
    margin: 2px 0 20px 10px;
  }
  /* line 186, ../sass/_media.scss */
  .alphabet a,
  .alphabet span {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    width: 16px;
    text-align: center;
    margin: 0;
  }
  /* line 7, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
  .alphabet a,
  .alphabet span {
    *display: inline;
  }
  /* line 192, ../sass/_media.scss */
  .alphabet a:first-child,
  .alphabet span:first-child {
    margin: 0;
  }
  /* line 197, ../sass/_media.scss */
  .alphabet br {
    display: block;
  }

  /* line 203, ../sass/_media.scss */
  .search input[type="text"] {
    width: 170px;
  }

  /* line 209, ../sass/_media.scss */
  .news article {
    width: 50%;
  }

  /* line 215, ../sass/_media.scss */
  .single-news .media {
    width: 38%;
    margin: 0 2% 0 0;
  }
  /* line 220, ../sass/_media.scss */
  .single-news .nav {
    display: block;
  }

  /* line 227, ../sass/_media.scss */
  .desktop .partner .media {
    width: 150px;
    height: 150px;
    margin: 0 15px 0 0;
  }

  /* line 236, ../sass/_media.scss */
  .author > .media {
    width: 150px;
    height: 150px;
    margin: 0 15px 0 0;
  }
  /* line 241, ../sass/_media.scss */
  .author > .media p {
    font-size: 15px;
    line-height: 150px;
  }

  /* line 249, ../sass/_media.scss */
  .author > .media {
    width: 150px;
    height: 150px;
    margin: 0 15px 0 0;
  }

  /* line 257, ../sass/_media.scss */
  .tiles li {
    width: 20%;
  }

  /* line 262, ../sass/_media.scss */
  .person {
    padding: 0 0 30px 0;
  }
  /* line 265, ../sass/_media.scss */
  .person .description {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 5%;
    float: none;
  }
  /* line 271, ../sass/_media.scss */
  .person .description section {
    padding: 15px 0;
  }
  /* line 276, ../sass/_media.scss */
  .person .photos {
    width: 100%;
    padding: 0 5%;
    float: none;
  }
}
@media only screen and (min-width: 721px) and (max-width: 900px) {
  /* line 286, ../sass/_media.scss */
  .slider li {
    width: 25%;
  }

  /* line 292, ../sass/_media.scss */
  .tiles li {
    width: 16.66%;
  }
}
@media only screen and (max-width: 960px) {
  /* line 300, ../sass/_media.scss */
  body > footer {
    width: 90%;
    margin: -1px auto 0 auto;
  }

  /* line 306, ../sass/_media.scss */
  .alphabet {
    margin-left: 10px;
  }

  /* line 310, ../sass/_media.scss */
  .search {
    margin-right: 10px;
  }

  /* line 314, ../sass/_media.scss */
  .slider {
    border-bottom: 1px solid #E1E1E1;
  }

  /* line 318, ../sass/_media.scss */
  .content {
    padding: 0 5%;
  }

  /* line 323, ../sass/_media.scss */
  .author .contact {
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
  }

  /* line 330, ../sass/_media.scss */
  .results {
    width: 90%;
    margin: 0 auto;
  }

  /* line 336, ../sass/_media.scss */
  .result .contact {
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
  }

  /* line 344, ../sass/_media.scss */
  .filter.mobile {
    display: block;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 350, ../sass/_media.scss */
  .filter.desktop {
    display: none;
  }
}
