/*
Syntax error: Invalid CSS after "    }": expected "}", was "<<<<<<< Updated..."
        on line 161 of /home/kamil.ogorek/htdocs/projects/webdokwadratu/app/Resources/public/sass/_media.scss
        from line 1001 of /home/kamil.ogorek/htdocs/projects/webdokwadratu/app/Resources/public/sass/style.scss

Backtrace:
/home/kamil.ogorek/htdocs/projects/webdokwadratu/app/Resources/public/sass/_media.scss:161
/home/kamil.ogorek/htdocs/projects/webdokwadratu/app/Resources/public/sass/style.scss:1001
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:1010:in `expected'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:956:in `expected'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:951:in `tok!'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:463:in `block'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:456:in `ruleset'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:518:in `declaration_or_ruleset'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:994:in `call'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:994:in `rethrow'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:519:in `declaration_or_ruleset'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:481:in `block_child'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:473:in `block_contents'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:462:in `block'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:302:in `media_directive'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:153:in `send'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:153:in `special_directive'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:126:in `directive'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:480:in `block_child'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:470:in `block_contents'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:58:in `stylesheet'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/scss/parser.rb:27:in `parse'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/engine.rb:327:in `_to_tree'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/engine.rb:259:in `to_tree'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:144:in `visit_import'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/engine.rb:300:in `_render'
/var/lib/gems/1.8/gems/sass-3.1.19/lib/sass/../sass/engine.rb:247:in `render'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `run'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `run'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:147:in `recompile'
/usr/lib/ruby/vendor_ruby/1.8/rubygems/custom_require.rb:36:in `to_proc'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:35:in `update'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:39:in `modified'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `each'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `modified'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:18:in `refresh'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `run'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `each'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `run'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `loop'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/var/lib/gems/1.8/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:87:in `perform'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/1.8/gems/compass-0.12.1/bin/compass:29
/var/lib/gems/1.8/gems/compass-0.12.1/bin/compass:43:in `call'
/var/lib/gems/1.8/gems/compass-0.12.1/bin/compass:43
/usr/local/bin/compass:19:in `load'
/usr/local/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    }\": expected \"}\", was \"<<<<<<< Updated...\"\A         on line 161 of /home/kamil.ogorek/htdocs/projects/webdokwadratu/app/Resources/public/sass/_media.scss\A         from line 1001 of /home/kamil.ogorek/htdocs/projects/webdokwadratu/app/Resources/public/sass/style.scss"; }
