{% extends '::base.html.twig' %}
{% set menu_contact = 'active' %}

{% block content %}
    <div class="content contact" role="content">
    	<h2>{{ article.title}}</h2>
        {{ article.content | raw }}
    </div>
{% endblock %}
