{% extends '::base.html.twig' %}
{% set menu_contact = 'active' %}

{% block content %}
    <div id="content-top">
        <h1>{{ article.title}}</h1>
    </div>

    <div id="contact">
        {{ article.content | raw }}
    </div>
{% endblock %}
