<ul>    
    <li>ver. 1.0</li>
    <li>
    	<a href="http://www.olaanzel.pl" title="Aleksandra Anzel" target="_blank">Photo: Aleksandra Anzel</a>
    </li>
    <li>
    	<a href="http://www.chilid.pl" title="Chilid - New Marketing" target="_blank">Design: Chilid</a>
    	<a href="http://www.xsolve.pl" title="XSolve - #Skillful Software House" target="_blank">Engine: XSolve</a>
    </li>
</ul>
