<ul>    
    <li><span>ver. 1.0</span></li>
    <li><a href="http://www.olaanzel.pl" title="Aleksandra Anzel" target="_blank"><span>Photo:</span> Aleksandra Anzel</a></li>
    <li><a href="http://www.chilid.pl" title="Chilid - New Marketing" target="_blank"><span>Design:</span> Chilid</a><a class="link-last" href="http://www.xsolve.pl" title="XSolve - #Skillful Software House" target="_blank"><span>Engine:</span> XSolve</a></li>
</ul>
