<div class="social">
    <span class='st_twitter'></span>
    <span class='st_facebook'></span>
    <span class='st_email'></span>
</div>

<script type="text/javascript">
  var switchTo5x=true;
</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
  stLight.options({publisher:'f837ef42-6bb2-438f-a806-499d51646e01'});
</script>
