{% extends '::base.html.twig' %}
{% set menu_people = 'active' %}

{% block content %}
    {% render "PeopleBundle:Default:alphabet" %}
    <div class="search">
        {% render "PeopleBundle:Default:searchbox" %}
    </div>

    {# <div class="filters mobile">
        {% include "PeopleBundle:Default:filters.html.twig" with {'industries': industries, 'computers': computers} only %}
    </div> #}

    <div class="tiles" role="content">
        <ul>
            {% for person in people %}
                {% include "PeopleBundle:Default:element.html.twig" with {'person': person, 'loop': loop, 'industries': industries, 'computers': computers} only %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
